<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Split Project</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Header -->
<header>
    <!-- Navbar -->
    <nav class="w3-top">
      <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
        <a href="#" class="w3-bar-item w3-btn">VooSpax Split</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
          <a href="#" class="w3-bar-item w3-btn">Sobre Nós</a>
          <a href="#" class="w3-bar-item w3-btn">Contato</a>
          <a href="#" class="w3-bar-item w3-btn">Acessar Conta</a>
        </div>
      </div>
    </nav>
</header>

<main class="w3-content w3-purple" style="max-width:1100px">

  <section class="w3-row w3-center w3-padding-64">
    <div class="w3-padding-large">
        <div class="">
            {% if object_list %}
                {% for book in object_list %}
                    <div class="">
                        <a class="" href="{% url 'book:detail' book.slug %}">
                            <div class="">
                                <img src="/media/{{ book.cover }}" style="width: 15rem;" alt="">
                                <div class="">
                                    <p class="">{{ book.title }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% empty %}
                    <h6>Não há livros para exibir</h6>
                {% endfor %}
            {% endif %}
        </div>
    </div>
  </section>


<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
    <p>VooSpax Split Project</p>
</footer>

</body>
</html>